<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Terms of Service</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      line-height: 1.6;
      padding: 20px;
      background: #eaffff;
    }
    h1 {
      color: #333;
    }
    section {
      margin-bottom: 15px;
      background: #fff;
      padding: 15px;
      border-radius: 8px;
      box-shadow: 0 0 5px rgba(0,0,0,0.1);
    }
    button  {
     border: none;
     background: #aaffdf;
     padding: 8px 12px;
     margin-top: 10px;
     border-radius: 8px;
 }
  </style>
</head>
<body>

  <h1>Terms of Service</h1>

  <section>
    <h2>Acceptance</h2>
    <p>By using this app, you agree to follow these Terms of Service.</p>
  </section>

  <section>
    <h2>Purpose</h2>
    <p>This app connects students and landlords. We do not own or manage any property.</p>
  </section>

  <section>
    <h2>User Responsibilities</h2>
    <p>Users must provide accurate information, act respectfully, and use the app legally.</p>
  </section>

  <section>
    <h2>Payments</h2>
    <p>Payments are made directly between students and landlords. We do not handle or guarantee payments.</p>
  </section>

  <section>
    <h2>Safety</h2>
    <p>Verify properties before paying and report suspicious activity.</p>
  </section>

  <section>
    <h2>Liability</h2>
    <p>We are not responsible for disputes, scams, or property issues after 1 month.</p>
  </section>
 <button><a href="index.htm">Back to Homepage</a></button>
</body>
</html>